.container {
  max-width: 1136px;
  margin: 0 auto !important;
  height: 80px;
  padding: 10px;

  .logo {
    height: 100%;
    color: #ededed;
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;

    .logo-img {
      width: 25px;
      height: 20px;
    }
    .logo-title {
      margin-left: 8px;
      margin-top: 4px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .header-links {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.links {
  display: flex;
  gap: 4px;
  .insta-img {
    width: 30px;
    height: 30px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center !important;
    width: 48px;
    height: 48px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
.text {
  background-color: #2aa5a0;
  background-image: linear-gradient(89.61deg, #000000 -42.23%, #ededed 109.58%);
  background-clip: text;
  color: transparent !important;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}
.head-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid rgba(237, 237, 237, 0.2);
}

.search-items{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  span{
    opacity: 0;
    transition: .8s;
    width: 20px;
    height: 20px;
    left: -480px;
    top: 24px;
    cursor: pointer;
    position: absolute;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
  span::before {
    cursor: pointer;
    right: 0px;
    top: 6px;
    position: absolute;
    content: '';
    width: 16px;
    height: 1px;
    background-color: #ededed;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
span::after {
  cursor: pointer;
  right: 0px;
  top: 6px;
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  background-color: #ededed;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
}
.search-input{
  position: absolute;
  margin-right: 0px;
  padding: 6px 12px;
  width: 400px;
  outline: none;
  color: #ededed;
  border: 1px solid #ededed33;
  border-radius: 16px;
  background-color: transparent;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}
