@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  /* min-height: 100%; */
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #1d1b1a;
  font-family: "Gilroy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
